  .tarjeta-body {
    width: 270px;
  }
  
  .card {
    width: 270px;
    transition: all 0.25s;
    border-width: 10px;
    border-style:double;
    border-color: #6eb41c;
    background-color: white;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px black;
  }
  
  .card-img {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow:hidden;
  }
  
  .card-img img {
    width: 230px;
    height: 270px;
    overflow:hidden;
  }

  .card-title{
    text-align: center;
  }
  
  .card-img:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
  }
  
  .cardBody {
    display: grid;
    margin: 25px;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .precio {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .btn-secondary {
    font-size: 15px;
    background-color: #6eb41c;
    border-radius: 5%;
    cursor: pointer;
  }

  .btn-secondary:hover {
    background-color: white;
  }

  .boton{
    margin: 10px;
  }


  